h2 وهل أقوم بإرسال المشروع وحسب وسوف يظهر بعد ذلك في الموقع؟
p
  |في الواقع لا. فنحن
  strong نختار المشروعات
  |التي تظهر في عونك. ونحن نسمي هذه العملية بالاصطفاء: وغايتنا من ذلك هو أن نقدم المشاريع الجيدة والجاهزة للتطبيق فقط ولكنها تبحث عن تمويل مادي. ولكن لا تقلق فنحن منفتحون للغاية في تعريفنا للمشروع الجيد :)
h2 وما هي أنواع المشروعات التي تقبلونها في عونك؟
p نحن نفتح أذرعنا للمشروعات الإبداعية في مجالات الطهي، التصميم، التكنولوجيا، الألعاب، الرسوم الكرتونية، الصحافة، بالإضافة إلى مجالات أخرى.
p
  strong نحن لا نقبل المشروعات الخيرية
  |فنحن لا نفضل مثل هذه المشروعات أو بالأحرى لا نظنها جديرة بالاهتمام لدينا. فبعيدا عن ذلك، عونك هو موقع يركز على المشروعات الإبداعية الخلاقة. وبالرغم من ذلك، إذا كان مشروعك خلاقا ولكنه يتطلب سببا أو جانبا إجتماعيا فسوف نقبله.
p
  strong نحن لا نمول الشركات ولكننا نمول المشروعات فقط
  |لذا فإن كان مشروعك يهدف إلى كسب المال فلا مشكلة في ذلك! فما نقصده هو أننا نمول المشروعات فقط. فعلى سبيل المثال: المشروع يجب أن يكون ذا بداية ونهاية زمنية محددتين. لذا فإذا أردت إعادة تصميم محل الحلويات الخاص بك بطريقة جميلة وخلاقة، فإننا سنكون أكثر من مسرورين بمساعدتك في مشروعك. ولكن عونك لن يكون المكان المناسب لإنشائك متجرا والإبقاء عليه إلى أجل غير مسمى. وتلخيصا لذلك في مثال آخر: إذا أردت تصميم مجموعة جديدة من الملابس فنحن سنساعدك، أما إذا أردت أن تنشأ لنفسك علامة تجارية لتصميم الملابس بدون أجل مسمى فنحن نأسف لعدم قدرتنا على مساعدتك.
p
  strong كل المشروعات يجب أن تعرض مكافآت
  |عونك هو شكل من أشكال التجارة والرعاية المتبادلة. لذا إذا كنت تعتقد أن المكافآت ليست جزءا أساسيا من مشروعك، فمن المرجح أن عونك ليس هو الحل الأفضل لك. ويجب أن تتذكر أن اليانصيب، السحوبات، والعائدات المالية كلها أمور ممنوعة منعا باتا.
p حسنا! إذا كانت لديك أية أسئلة راسلنا وحسب #{mail_to t('site.email.contact'), "هنا", :target => :_blank}.

















