|موقع عونك يعمل هكذا: أنت تقدم مشروعك أو حالتك التي تريدها أن تعرض بالموقع وتخبرنا بها
strong كم المبلغ الذي تريد جمعه
|و
strong موعد نهاية المشروع أو تاريخ الاستحقاق
|لتصل لهدفك، يجب أن تروج المشروع أو الحالة للناس كافة وذلك من خلال تصميم فيديو احترافي أو وضع مكافآت مغرية أو وضع ثبوتات تثبت ألا تخدع الناس وذلك لكي تجعل الناس
strong يدعمونك بأي مبلغ
|starting ابتداء من 1 دولار أمريكي
strong ويتسلمون المكافآت لكي تحلل أموالك اللتي جمعتها
|وبهذا، إن وصلت الى المبلغ والموعد المحددان فسوف تتسلم المبلغ الذي حصلت عليه، وفي حال عدم وصولك لهدفك، يتم إرجاع كامل المال الى اصحابه، بهذه البساطة.

#show_tips
  a href='#' انظر إلى المزيد حول كيف يعمل عونك
