h2 كيف تعمل خدمة التمويل التعاوني في عونك؟
h3 معادلتنا السحرية هي: 
p كوننا نؤمن بأن أفضل طريقة لتحفيز الناس لدعم مشروع ما، هي عرض مكافآت رائعة وخلاقة. فالجميع يحبون الإصدارات المحدودة، الأشياء والتجارب الفريدة (الحفلات، الحلوى، البالون!). لذا فاقض وقتا كافيا لتفكر في مكافآتك الخلاقة التي ستجعل الناس يدعمونك.
h3 وهل يمكن أن يكون الدعم جزئيا أم يجب أن يكون كليا؟
p في عونك، يتم تمويل المشروع في حالة وصوله للهدف المحدد له في الوقت المحدد له. فإذا لم تصل قيمة الدعم للحد الأدنى من الهدف بعد مرور ذلك الوقت، فإن الداعمين يستردون أموالهم. لماذا؟ كي نقلل من المخاطرة على الجميع. وبهذه الطريقة، فليس هناك استثناء يتيح لمشروع لم يصل لهدفه أن يتم تمويله من قبلنا. لأن ذلك يصعب من عملية توزيع المكافآت.
p
  |كي يكون مشروعك متاحا على موقعنا فلن يكلفك ذلك شيئا. ولكن في حالة نجاح المشروع (وفي حالة ذلك فقط) فإن عونك سوف يحصل على 7.5% من الأموال التي تم جمعها. بالإضافة إلى تكلفة رسوم وسيلة دفعك سواء كانت (PayPal أو أي وسيلة دفع أخرى) التي تكلف ما يتراوح ما بين 4% إلى 5% على كل تحويل.
h3 وبالنسبة لحقوق الملكية الفكرية للمشروعات؟
p أنت تمتلك حقوق الملكية الفكرية 100%. وليس هناك أي تعديل في ذلك (ولو حتى مجرد تعديل!)
h3 ومن أين يأتي المال اللازم لتمويل هذه المشروعات؟
p حسنا! في البداية، من المهم أن تجذب الأشخاص الذين تعرفهم كي يدعموا مشروعك (كأصدقائك، عائلتك، أشخاص أحبوا فكرة مشروعك). إذا عمل هؤلاء على الدعاية لمشروعك، فسوف ينتشر المشروع للتجمعات التي يعمل فيها هؤلاء الأشخاص، وستجذب المزيد من الأشخاص المعجبين بمشروعك. فالقاعدة تقول أن: فكرة جيدة مصحوبة بدعاية جيدة، تستطيع أن تنتشر بصورة واسعة وسريعة.
h3 وكم من المال ينبغي أن أطلب لتمويل مشروعي؟
p النقطة الأساسية في ذلك هي فهمك لنطاقك . فكر في شبكة العلاقات التي تعرفها وكيف سيكون مشروعك ومكافآتك جذابا لهم كي يدعموا مشروعك.
h3 وهل أستطيع أن أجمع من المال ما يزيد عن الهدف الذي حددته؟
p بالتأكيد! فليس هناك حد أقصى لذلك. فسوف نستمر في قبول الدعم من الداعمين حتى آخر لحظة في الخريطة الزمنية التي وضعتها لمشروعك (أي الموعد النهائي للمشروع).
h3 ولكن فكرة مشروعي ليست جيدة للغاية أو مهمة. هل سيساعدني عونك؟
p بالتأكيد! فقد يكون مشروعك صغيرا أو كبيرا، تقليديا أو إبداعيا. ولتتأكد من ذلك، اسأل نفسك : هل هو مشروع سوف يحتاج اسبوعا لتحقيقه وتريد المال اللازم لذلك؟ إذا كان جوابك بالإيجاب فمرحبا بك معنا!
h3 وما هي أنواع المشروعات الناجحة؟ وما هو السر في ذلك؟
p السبب الأول هو الشغف بالمشروع. الشفافية والقدرة على إدارة المشروع تأتي بعد ذلك. ولكن قدرتك على نشر المشروع وخصوصا على الانترنت سوف يكون ذا تأثير إيجابي هائل.