strong هل أنت متأكد من أنك تريد جعل الدعم مخفي؟ 
| إذا جعلت اسم الداعم متاحا للجميع لرؤيته فسوف يزيد ذلك من شعبيتك ومن نقاطك لدينا، ولكن إذا اخترت أن تجعله مخفيا فننصحك باستخدام اسم مستعار لكي لا يذهب عليك الأجر من الله.
br
br
| بجانب ذلك، المبلغ الذي ستدعم به سوف يراه ويعلم به جميع الناس، أما اسمك او اسمك المستعار (ينصح به) لن يعرفه إلا صاحب المشروع الذي دعمته.
