h3 كيف يمكنني دعم هذا المشروع؟
p أولا، اختر المبلغ الذي تريد الدعم به، ثم سنحولك الى موقع الدفع الالكتروني لكي تودع المبلغ الذي تود الدعم به، وان كنت تريد الدعم بوسيلة الايداع البنكي الغير الالكتروني أو غيره فنرجوا أن تتتواصل معنا من فضلك.
h3 بعد أن يتم الدفع ويصدق؟
p سريعا بعد أن يتحقق البنك الالكتروني من الدفع ويصدقه، بعد ذالك ان لم يصل المشروع الى هدفه اللذي حدد في خلال الفترة المحددة، سوف يتم ايداع المبلغ الى حسابك في موقع عونك كرصيد تستطيع سحبه أو دعم مشروع أخر به.
h3 إذا، هل سأستعيد نقودي ان لم ينجح المشروع؟
p بالطبع نعم! سوف تستعيد كل نقودك كرصيد في موقع عونك 
h3 ماذا ان لم أرد أن استخدم الرصيد في موقع عونك؟
p لامشكلة، تستطيع الذهاب الى ها هنا  #{link_to t('credits.title'), credits_path, :target => :_blank}، لديك 180 يوم كحد أقصى بعد وضع مالك في رصيدك في موقع عونك، واطلب استرجاع نقودك. واذا احترت أو احتجت مساعدة فلا تسأل غيرنا وتواصل معنا.
h3 اذا نجح المشروع كيف أحصل على مكافأتي؟
p عندما تكون مكافأتك جاهزة، #{link_to @project.user.display_name, user_path(@project.user)}، سوف يتواصل معك صاحب المشروع لكيفية استلامك و ايصالها لك.
